*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    min-height: 100vh;
}

body{
    background-color: #f2f3f2;
}

.header{
    background-color: #ffffff;
    width: 100%;
    padding: 15px;
}

.header nav{
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
}

.header nav a{
    text-decoration: none;
}

.logo{
    display: flex;
}

.empText{
    color: #7c992c;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.payText{
    color: #868e97;
    text-transform: uppercase;
    font-family: 'Montserrat' ,sans-serif;
}

.logout{
    background-color: #7c992c;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: large;
    cursor: pointer;
}


@media screen and (max-width: 576px){
    .left-part{
        font-size: small;
    }
}

/* Mid part: Form */

.container{
    background-color: #ffffff;
    padding: 20px;
    width: 50%;
    min-height: 100vh;
    margin: 15px auto;
    border: solid #C0C0C0 1px;
    box-shadow: 7px 0 15px -4px  #C0C0C0, -7px 0 8px -4px  #C0C0C0;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 576px) {
    .container {
      width: calc(100% - 15px);
    }
  }

.container h2{
    font-weight: 700;
    margin: 20px 0 40px 40px;
}

.container .row-content{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.container .row-content label{
    font-weight: 400;
    margin: 10px;
}

.container input{
    margin-left: 25px;
}

input[type=text]{
    width: 70%;
    padding: 10px;
    border: solid #f1f1f1 3px;
}

/* Profile pic and gender radio buttons*/

/* For Labels/imgs (profile class) */
.radio-inputs .profile{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 35px 0 0;
    cursor: pointer;
}

/* For circles (radio-buttons) */
.radio-inputs input{
   cursor: pointer;
   margin-right: 15px;
}

/* Labels/text of gender */
.radio-inputs .gender{
    display: inline-flex;
    align-items: center;
    margin-left: 0;
    cursor: pointer;
}

/* Checkbox butttons */
.checkbox{
    display: flex;
    flex-wrap: wrap;
}

/* For squares (checkboxes) */
.checkbox-inputs input{
    cursor: pointer;
    margin-right: 2px;
}

/* For labels/text */
.checkbox-inputs .department{
    display: inline-flex;
    align-items: center;
    margin: 0 4px 0 0;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .checkbox-inputs input{
        margin-right: 5px;
    }

    .checkbox-inputs .department{
        /* display: inline-block; */
        margin-left: 0;
    }
}

/* Slider */
.slider{
    width: 100%;
}

.slider .salary{
    width: 100%;
}

.slider-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.slider input{
    cursor: pointer;
    width: 100%;
    margin-left: 0;
}

@media screen and (max-width: 576px) {
    .slider input{
        width: 80%;
    }
}

.slider .salary{
    display: inline-flex;
    align-items: center;
}

.slider .salary p{
    margin-left: 20px;
}

.dropdown{
    margin-left: 20px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.notes{
    display: flex;
}

.notes textarea{
    margin-left: 25px;
    resize: none;
    padding: 7px;
    width: 100%;
    border: solid #f1f1f1 3px;
}

@media screen and (max-width: 576px) {
    .notes textarea{
        margin-left: 0;
        padding: 5px;
        margin-top: 10px;
    }
}

.button-container{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.left-button{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.right-buttons{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: right;
    width: 50%;
}

.button-container button{
    width: 9rem;
    height: 2.5rem;
    border-radius: 4px;
    border: 2px solid #E8E8E8;
    cursor: pointer;
}

.cancel-button{
    margin-left: 5%;
    margin-bottom: 5%;
}

.submit-button, .reset-button{
    margin-right: 12%;
}

@media screen and (max-width: 576px) {
    .button-container{
        grid-template-columns: 1fr;
    }

    .button-container button{
        width: 5rem;
    }
  }

  /* adding red border to invalid textbox */
.error-class {
    border: solid 1px #e74c3c !important;
  }