*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    min-height: 100vh;
}

body{
    background-color: #f2f3f2
    ;
}

.header{
    background-color: #ffffff;
}

.header nav{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.left-part{
    display: flex;
}

.empText{
    color: #7c992c;
    text-transform: uppercase;
    font-family: sans-serif;
}

.payText{
    color: #868e97;
    text-transform: uppercase;
    font-family: sans-serif;
}

.right-part{
    color: dodgerblue;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

/* Mid part: Form */

.container{
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr); */
    background-color: #ffffff;
    padding: 20px;
    width: 50%;
    min-height: 100vh;
    margin: 15px auto;
    border: solid #C0C0C0 1px;
    box-shadow: 7px 0 15px -4px  #C0C0C0, -7px 0 8px -4px  #C0C0C0;
    font-family: 'Roboto', sans-serif;
}

.container h2{
    font-weight: 700;
    margin: 20px 0 40px 40px;
}

.container .row-content{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.container .row-content label{
    font-weight: 400;
    margin: 10px;
}

.container input{
    margin-left: 25px;
}

input[type=text]{
    width: 70%;
    padding: 10px;
    border: solid #f1f1f1 3px;
}

/* Profile pic and gender radio buttons*/

/* For Labels/imgs (profile class) */
.radio-inputs .profile{
    display: inline-flex;
    align-items: center;
    margin: 0 35px 0 0;
    cursor: pointer;
}

/* For circles (radio-buttons) */
.radio-inputs input{
   cursor: pointer;
   margin-right: 15px;
}

/* Labels/text of gender */
.radio-inputs .gender{
    display: inline-flex;
    align-items: center;
    margin-left: 0;
    cursor: pointer;
}

/* Checkbox butttons */

/* For squares (checkboxes) */
.checkbox-inputs input{
    cursor: pointer;
    margin-right: 10px;
}

/* For labels/text */
.checkbox-inputs .department{
    display: inline-flex;
    align-items: center;
    margin: 0 8px 0 0;
    cursor: pointer;
}

/* Slider */
.slider input{
    cursor: pointer;
    width: 400px;
}

.slider .salary{
    display: inline-flex;
    align-items: center;
}

.slider .salary p{
    margin-left: 20px;
}

.dropdown{
    margin-left: 20px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}